<!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 -->
 <head>
   <title>Administration Panel</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">CMS</a><span>Server Management</span>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/adminhome">Home <span class="sr-only">(current)</span></a>
       </li>
       <!-- <li class="nav-item">
         <a class="nav-link" href="#">Plans</a>
       </li> -->
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Accounts
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Add new accounts</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">View all accounts</a>
         </div>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Customers
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="add_new_customers">Add new customers</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="/view_all_customers">View all customers</a>
         </div>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Plans
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/add_new_plans">Add new plans</a>
           <div class="dropdown-divider"></div>

           <a class="dropdown-item" href="/view_all_plans">view all plans</a>
         </div>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="/admin_logout">Logout</a>
       </li>
     </ul>
     <!-- <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form> -->
   </div>
  </nav>
<!-- 444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 -->
{{#if msg}}<div class="card text-white bg-success mb-3 text-center" style="height:50px;"  id="success_msg" ><div class="card-body">{{msg}}</div></div>{{/if}}
{{#if err}}<div class="card text-white bg-danger mb-3 text-center" style="height:50px;"  id="err_msg" ><div class="card-body">{{err}}</div></div>{{/if}}

<div style="height:60px;"></div>
<div class="container">
    <h3>Create Customer Account</h3>
    <form action='/add_new_customers_form'method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="cname">
      </div>
      <div class="form-group">
        <label for="eid">Email Id:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email id" name="cemail">
      </div>

      <div class="form-group">
        <label for="ename">Mobile Number:</label>
        <input type="number" class="form-control" id="mno" placeholder="Enter mobile number" name="mobile" />
      </div>

      <button type="submit" class="btn btn-outline-dark">Add Cutomer</button>
    </form>

</div>


</body>
<script>
$(document).ready(function(){
//alert('page loading');
  $('#success_msg').delay(3000).fadeOut('slow')
  $('#err_msg').delay(3000).fadeOut('slow')
  })
</script>
